@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lexend:wght@100;300;400;500;600;700;800&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*Removing browser's default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
}

/*Reused classes*/

html {
  background: url("https://source.unsplash.com/BtbjCFUvBXs/") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.max-width {
  max-width: 1920px;
  padding: 0 85px;
  margin: auto;
}

.invisible {
  display: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.section-title {
  position: relative;
  font-family: 'Lexend', sans-serif;
  font-size: 40px;
  text-align: left;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 180px;
  height: 3px;
  background: #222;
  border-radius: 30%;
}

/* Navbar */
.navbar {
  position: fixed;
  padding: 16px 0;
  width: 100%;
  font-family: 'Lexend', sans-serif;
  transition: all 0.3s ease-out;
  z-index: 1000;
}

.navbar.sticky {
  padding: 8px 0;
  background: #000;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navbar li {
  display: inline-block;
  list-style: none;
}

.navbar-link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 30px;
  transition: color 0.3s ease-in-out;
}

.navbar.sticky .navbar-logo, .navbar.sticky .navbar-link {
  color: #fff;
}

.navbar.sticky .navbar-link:hover {
  color: #00C9C8;
}

.navbar-link:hover {
  color: #00C9C8;
}

.navbar-logo {
  font-family: 'Sacramento', cursive;
  color: #000;
  font-size: 2.625rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}


.menu-btn {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: none;
}

.menu-btn:hover {
  color: #00C9C8;
}

.navbar.sticky .menu-btn {
  color: #fff
}

/* Home */
.home {
  height: 100vh;
  color: #000;
  min-height: 500px;
  font-family: 'Lexend', sans-serif;
  transition: all 0.6s ease-out;
}

.home .max-width {
  padding-top: 16.5vh;
}

.hero-text-box {
  padding: 1.75rem;
  position: relative;
  transition: all 0.6s ease-out;
}

.vertical-hero-text {
  writing-mode: vertical-lr;
}

.text-1 {
  position: absolute;
  left: 0;
  font-size: 1.625rem;
  max-width: 100%;
}

.text-2 {
  position: absolute;
  top: 35px;
  left: 150px;
  max-width: 100%;
  font-weight: 600;
  font-size: 4.6rem;
}

.text-3 {
  line-height: 2;
  writing-mode: vertical-rl;
  position: absolute;
  left: -15px;
  top: 100px;
  font-size: 2rem;
  max-width: 50%;
  font-family: 'DotGothic16', sans-serif;
  transition: all 0.6s ease-out;
}

.hero-btn {
  position: relative;
  background: #000;
  right: 28px;
  color: #fff;
  font-size: 25px;
  padding: 12px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: none;
  border: 2px solid #00C9C8;
  color: #00C9C8;
}

.hero-btn-box {
  width: 227.89px;
  margin-top: 325px;
}

/*about*/
.about {
  background: transparent;
  padding: 100px 0;
  font-family: 'Lexend', sans-serif;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-content .left {
  padding: 20px;
  width: 45%;
}

.about-img {
  height: auto;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.about-content .right {
  padding: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%
}

.about-content p {
  text-align: justify;
  padding-bottom: 50px;
}

.about-btn-box {
  text-align: left;
}

.about-btn {
  background: #000;
  color: #fff;
  font-size: 25px;
  padding: 12px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: none;
  border: 2px solid #00C9C8;
  color: #00C9C8;
}

/*responsive media queries*/
@media screen and (min-width: 2560px) {
  .home .max-width {
    margin-left: 320px;
  }
}

@media screen and (max-width:1024px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: "\f00d"
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #303030;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .menu.active {
    left: 0;
  }

  .navbar li {
    display: block;
  }

  .navbar-link {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .text-2 {
    left: 100px;
  }

  .text-3 {
    line-height: inherit;
    left: 0;
  }

  .home {
    background-position: left;
  }

  .hero-btn {
    padding: 12px 10px;
  }

  .about {
    text-align: center;
  }

  .about p {
    width: 70%;
    margin: 0 auto;
  }

  .about-btn-box {
    margin: 0 auto;
  }

  .about .section-title::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .about .section-title::after {
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about .section-title {
    text-align: center;
  }

  .about-content {
    flex-direction: column;
  }

  .aboout .left {
    width: 100%;
  }

  .about .right {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .max-width {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .max-width {
    padding-left: 20px;
    padding-right: 20px;
  }
}
