@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lexend:wght@100;300;400;500;600;700;800&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*Removing browser's default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
}

/*Reused classes*/

html {
  background: url('https://source.unsplash.com/BtbjCFUvBXs/') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.max-width {
  max-width: 1920px;
  padding: 50px 85px;
  margin: auto;
}

.invisible {
  display: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.section-title {
  position: relative;
  font-family: 'Lexend', sans-serif;
  font-size: 40px;
  text-align: left;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 180px;
  height: 3px;
  background: #303030;
  border-radius: 30%;
}

/* Navbar */
.navbar {
  position: fixed;
  padding: 16px 0;
  width: 100%;
  font-family: 'Lexend', sans-serif;
  transition: all 0.3s ease-out;
  z-index: 1000;
}

.navbar.sticky {
  padding: 8px 0;
  background: #1597bb;
}

.navbar .max-width {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navbar li {
  display: inline-block;
  list-style: none;
}

.navbar-link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 30px;
  transition: color 0.3s ease-in-out;
}

.navbar.sticky .navbar-logo,
.navbar.sticky .navbar-link {
  color: #fff;
}

.navbar.sticky .navbar-link:hover {
  color: #2f2e41;
}

.navbar-link:hover {
  color: #1597bb;
}

.navbar-logo {
  font-family: 'Sacramento', cursive;
  color: #000;
  font-size: 2.625rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.menu-btn {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: none;
}

.menu-btn:hover {
  color: #1597bb;
}

.navbar.sticky .menu-btn {
  color: #fff;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  min-height: 500px;
  font-family: 'Lexend', sans-serif;
  transition: all 0.6s ease-out;
}

.home .max-width {
  padding-top: 85px;
}

.home .left {
  width: 45%;
}

.home .right {
  width: 55%;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-text-box {
  padding: 1.75rem;
  position: relative;
  transition: all 0.6s ease-out;
}

.vertical-hero-text {
  color: #1597bb;
  writing-mode: vertical-lr;
}

.text-1 {
  position: absolute;
  left: 0;
  font-size: 1.625rem;
  max-width: 100%;
}

.text-2 {
  position: absolute;
  top: 35px;
  left: 150px;
  max-width: 100%;
  font-weight: 600;
  font-size: 4.6rem;
}

.text-3 {
  line-height: 2;
  writing-mode: vertical-rl;
  position: absolute;
  left: -15px;
  top: 100px;
  font-size: 2rem;
  max-width: 50%;
  font-family: 'DotGothic16', sans-serif;
  transition: all 0.6s ease-out;
}

.hero-btn {
  position: relative;
  background: #1597bb;
  border: 2px solid #1597bb;
  right: 28px;
  color: #fff;
  font-size: 25px;
  padding: 12px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: none;
  color: #1597bb;
}

.hero-btn-box {
  margin-top: 325px;
}

/*about*/
.about,
.contact {
  background: transparent;
  font-family: 'Lexend', sans-serif;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-content .left {
  padding: 20px;
  width: 45%;
}

.about-img {
  height: auto;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.about-content .right {
  padding: 20px 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.about-content p {
  text-align: justify;
  padding-bottom: 50px;
}

.about-btn-box {
  text-align: left;
}

.about-btn {
  background: #1597bb;
  border: 2px solid #1597bb;
  color: #fff;
  font-size: 25px;
  padding: 12px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: none;
  border: 2px solid #1597bb;
  color: #1597bb;
}

/* services section */
.services,
.projects {
  background: #000;
  color: #fff;
  font-family: 'Lexend', sans-serif;
}

.services p {
  text-align: center;
}

.service-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.services .section-title::before,
.projects .section-title::before {
  background: #fff;
}

.services .card {
  width: calc(33% - 20px);
  background: #303030;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .card:hover {
  background: #1597bb;
}

.services .card:hover i {
  color: #fff;
}

.services .card i {
  font-size: 50px;
  color: #1597bb;
}

.services .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services .box {
  transition: all 0.3s ease;
}

.services .card:hover .box {
  transform: scale(1.05);
}
/* skills section */
.skills {
  font-family: 'Lexend', sans-serif;
}

.skills-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skills .column {
  width: calc(50% - 50px);
}

.skills .bars {
  margin-bottom: 15px;
}

.skills .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .bars span {
  font-size: 18px;
  font-weight: 600;
}

.skills .bars .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .bars .line::before {
  content: '';
  height: 5px;
  background: #1597bb;
  position: absolute;
  left: 0;
  top: 0;
}

.skills .bars .html::before {
  width: 90%;
}

.skills .bars .css::before {
  width: 70%;
}

.skills .bars .js::before {
  width: 60%;
}

.skills .bars .jquery::before {
  width: 50%;
}

.skills .bars .bootstrap::before {
  width: 70%;
}

/* projects */

.carousel .card {
  background: #303030;
  border-radius: 6px;
  padding: 25px 30px;
  cursor: grabbing;
  text-align: center;
  transition: all 0.3s ease;
}

.carousel .card:hover {
  background: #1597bb;
}

.carousel h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.carousel .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.carousel .card:hover .box {
  transform: scale(1.05);
}

.carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 5px solid #1597bb;
  border-radius: 6px;
}

.carousel .card:hover img {
  border-color: #fff;
}

.project-btn {
  background: #1597bb;
  border: 2px solid #1597bb;
  color: #fff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 10px 0;
}

.carousel .card:hover .project-btn {
  background: #fff;
  border-color: #fff;
  color: #1597bb;
}

.project-btn:hover {
  background: none;
  color: #1597bb;
}

.carousel .card:hover .project-btn:hover {
  background: none;
  color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  margin: 0 5px;
  height: 13px;
  width: 13px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #1597bb !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: #1597bb !important;
}

/* contact us */

.contact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-content .column {
  width: calc(50% - 30px);
}

.contact .icons {
  margin: 10px 0;
}

.contact .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .info {
  margin-left: 30px;
}

.contact .info .head {
  font-weight: 500;
}

.contact .info .sub-title {
  color: #303030;
}

.contact h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact p {
  text-align: justify;
}

.contact .row i {
  font-size: 25px;
  color: #1597bb;
}
.contact .right form .fields {
  display: flex;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field.textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.contact .right .field input,
.contact textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
}

.contact textarea {
  resize: none;
  padding-top: 10px;
}

.contact .right form .button {
  height: 45px;
  width: 200px;
}

.contact .right form .button button {
  height: 100%;
  width: 100%;
  border: 2px solid #1597bb;
  background: #1597bb;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  border: 2px solid #1597bb;
  background: transparent;
  color: #1597bb;
  cursor: pointer;
}

/* footer */

footer {
  padding: 50px;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  background: #000;
  color: #fff;
}
.footer-link {
  padding: 2% 1.5%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #1597bb;
}
/*responsive media queries*/

@media screen and (max-width: 1024px) {
  .home-content {
    flex-direction: column;
  }

  .hero-text-box {
    left: 30%;
  }

  .home .left {
    width: 50%;
  }
  .home .right {
    margin-top: 50px;
    width: 100%;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: '\f00d';
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #303030;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .menu.active {
    left: 0;
  }

  .navbar li {
    display: block;
  }

  .navbar-link {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .text-2 {
    left: 100px;
  }

  .text-3 {
    line-height: inherit;
    left: 0;
  }

  .hero-btn {
    padding: 12px 10px;
  }

  .about {
    text-align: center;
  }

  .about .max-width {
    padding-top: 0;
  }

  .about p {
    margin: 0 auto;
  }

  .about-btn-box {
    margin: 0 auto;
  }

  .section-title::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .section-title {
    text-align: center;
  }

  .about-content {
    flex-direction: column;
  }

  .about .left {
    width: 100%;
  }

  .about .right {
    width: 100%;
  }

  .service-content {
    flex-direction: column;
  }

  .services .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .skills-content {
    flex-direction: column;
  }

  .skills .column {
    margin-bottom: 35px;
  }

  .skills .left {
    width: 100%;
  }

  .skills .right {
    width: 100%;
  }

  .skills p {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .hero-text-box {
    left: 0;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-content .column {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .max-width {
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero-btn-box {
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .max-width {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text-box {
    left: -60px;
  }
}
